<div class="app-demo-board">
  <div class="app-demo-board">
    <div class="app-card-board">
      <h3 class="app-toolbar">Import</h3>
      <app-tab-group direction="right" theme="line">
        <app-tab header="CODE">
        </app-tab>
      </app-tab-group>
    </div>
  </div>

  <div class="app-card-board">
    <h3 class="app-toolbar">Default</h3>
    <app-tab-group direction="right">
      <app-tab [header]="'Demo'">
        <app-tab-group>
          <!--<app-tab *ngFor="let tab of tabs" [header]="tab.title">-->
          <!--{{tab.content}}-->
          <!--</app-tab>-->
          <app-tab header="Tab 1">
            Tab 1 content
          </app-tab>
          <app-tab header="Tab 2">
            Tab 2 content
          </app-tab>
        </app-tab-group>
      </app-tab>
      <app-tab header="CODE">
      </app-tab>
    </app-tab-group>
  </div>

  <div class="app-card-board">
    <h3 class="app-toolbar">Direction</h3>
    <app-tab-group direction="right">
      <app-tab [header]="'Demo'">
        <app-tab-group direction="right">
          <app-tab header="Tab 1">
            Tab 1 content
          </app-tab>
          <app-tab header="Tab 2">
            Tab 2 content
          </app-tab>
        </app-tab-group>
      </app-tab>
      <app-tab header="CODE">
      </app-tab>
    </app-tab-group>
  </div>

  <div class="app-card-board">
    <h3 class="app-toolbar">Disabled</h3>
    <app-tab-group direction="right">
      <app-tab [header]="'Demo'">
        <app-tab-group direction="right">
          <app-tab header="Tab 1">
            Tab 2 content
          </app-tab>
          <app-tab header="Tab 2" [disabled]="true">
            Tab 2 content
          </app-tab>
          <app-tab header="Tab 3">
            Tab 3 content
          </app-tab>
        </app-tab-group>
      </app-tab>
      <app-tab header="CODE">
      </app-tab>
    </app-tab-group>
  </div>

  <div class="app-card-board">
    <h3 class="app-toolbar">onChange</h3>
    <app-tab-group direction="right">
      <app-tab [header]="'Demo'">
        <p style="width: 100%;margin-bottom: 10px">
          当前tab：{{activeState?.activeIndex}}
        </p>
        <app-tab-group (onChange)="onTabChange($event)">
          <app-tab header="Tab 1">
            Tab 2 content
          </app-tab>
          <app-tab header="Tab 2">
            Tab 2 content
          </app-tab>
        </app-tab-group>
      </app-tab>
      <app-tab header="CODE">
        <h5>Javascript</h5>
      </app-tab>
    </app-tab-group>
  </div>

  <div class="app-card-board">
    <h3 class="app-toolbar">Direction</h3>
    <app-tab-group direction="right">
      <app-tab [header]="'Demo'">
        <app-tab-group direction="right">
          <app-tab header="Tab 1" [maxHeight]="200">
            FreeNG is a UI framework based on Angular, provides a lot of powerful re-combination of UI components. The threshold is very low, used to use.
            FreeNG is still very young, the first version was released in May 2017.
            Current Version： v0.2.3
            Special statement: Free name Free, FreeNG is completely open source app!
            FreeNG is a UI framework based on Angular, provides a lot of powerful re-combination of UI components. The threshold is very low, used to use.
            FreeNG is still very young, the first version was released in May 2017.
            Current Version： v0.2.3
            Special statement: Free name Free, FreeNG is completely open source app!
          </app-tab>
          <app-tab header="Tab 2">
            Tab 2 content
          </app-tab>
        </app-tab-group>
      </app-tab>
      <app-tab header="CODE">
      </app-tab>
    </app-tab-group>
  </div>

  <div class="app-card-board">
    <h3 class="app-toolbar">Direction</h3>
    <app-tab-group [direction]="'right'">
      <app-tab [header]="'Demo'">
        <app-tab-group [vertical]="true">
          <app-tab header="Tab 1">
            FreeNG is a UI framework based on Angular, provides a lot of powerful re-combination of UI components. The threshold is very low, used to use.
            FreeNG is still very young, the first version was released in May 2017.
            Current Version： v0.2.3
            Special statement: Free name Free, FreeNG is completely open source app!
            FreeNG is a UI framework based on Angular, provides a lot of powerful re-combination of UI components. The threshold is very low, used to use.
            FreeNG is still very young, the first version was released in May 2017.
            Current Version： v0.2.3
            Special statement: Free name Free, FreeNG is completely open source app!
          </app-tab>
          <app-tab header="Tab 2">
            Tab 2 content
          </app-tab>
        </app-tab-group>
      </app-tab>
      <app-tab header="CODE">
      </app-tab>
    </app-tab-group>
  </div>

  <div class="app-card-board">
    <h3 class="app-toolbar">Template</h3>
    <app-tab-group [direction]="'right'">
      <app-tab [header]="'Demo'">
        <app-tab-group>
          <app-tab>
            <ng-template [fTemplate]="'header'">
              123
            </ng-template>
            FreeNG is a UI framework based on Angular, provides a lot of powerful re-combination of UI components. The threshold is very low, used to use.
            FreeNG is still very young, the first version was released in May 2017.
            Current Version： v0.2.3
            Special statement: Free name Free, FreeNG is completely open source app!
            FreeNG is a UI framework based on Angular, provides a lot of powerful re-combination of UI components. The threshold is very low, used to use.
            FreeNG is still very young, the first version was released in May 2017.
            Current Version： v0.2.3
            Special statement: Free name Free, FreeNG is completely open source app!
          </app-tab>
          <app-tab header="Tab 2">
            Tab 2 content
          </app-tab>
        </app-tab-group>
      </app-tab>
      <app-tab header="CODE">
      </app-tab>
    </app-tab-group>
  </div>
</div>
